/* for tablet */
@media all and (min-width: 1000px) {
  /* 1000以上から適用 */
  .Toggle{
    display: none;
  }

  .product{
    width:50%;
  }
}

/* for smart phone */
@media all and (max-width: 999px) {
  .Toggle{
    display: block;
  }

  .btn{
    display: none;
  }

  .product{
    width:100%;
  }
}
