body {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.01);
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin:0 auto;
}

/* header */
header{
  height: 65px;
  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*btn part*/
.btn-wrapper{
  margin: 10px;
  float:right;
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.btn{
  padding: 8px 5px;
  color: white;
  display: inline-block;
  width:85px;
  opacity: 0.8;
  margin-right: 5px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.5s;
}

.btn:hover{
  opacity:0.5;
}

.github{
  background-color: yellowgreen;
}

.instagram {
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}

.blog{
  background-color:black;
}

.mail{
  background-color:white;
  color:black;
  display: none;
}

.amazon{
  /* color:black; */
  border-color:black;
  display: none;
}

/* ハンバーガーmenu部分 */
nav.NavMenu{

  position: fixed;	/*表示位置を固定*/
  z-index: 2;		/*重ね順を変更*/
  top: 0;		/*表示位置を指定*/
  left: 0;	/*表示位置を指定 */
  background: #fff;/*背景を白にする*/
  color: #000;	/*文字色をwhiteにする*/
  text-align: center;		/*テキストを中央揃え*/
  width: 100%;	/*全幅表示*/
  transform: translateY(-100%);	/*ナビを上に隠す*/
  transition: all 0.6s;	/*アニメーションの時間を指定*/
}

nav.NavMenu ul{
  background: gray;	/*背景をグレーにする*/
  width: 100%;
  margin: 0;
  padding: 0;
}

nav.NavMenu ul li{
  font-size: 1.1em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px dotted #333;
}

nav.NavMenu ul li:last-child{
  padding-bottom: 20px;
  border-bottom: none;	/*最後のメニュー項目のみ下線を消す*/
}

nav.NavMenu ul li a{
  display: block;		/*クリックできる領域を広げる*/
  color: white;
  padding: 10px 0;
}

nav.NavMenu.active{
  transform: translateY(0%);		/*ナビを表示する*/
}

.Toggle {
    display: block;
    position:absolute;
    /* position: fixed; */
    right: 20px;
    top: 12px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 3;
}

.Toggle span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
    left: 6px;
}

.Toggle span:nth-child(1) {
    top: 9px;
}

.Toggle span:nth-child(2) {
    top: 18px;
}

.Toggle span:nth-child(3) {
    top: 27px;
}

/* 最初のspanをマイナス45度に */
.Toggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

#fade{
  display: none;
}

/* top part */
.top-wrapper{
  width:100%;
  height:440px;
  /* background-size: cover; */
  background-color:rgba(0,0,0,0.9);
  text-align: center;
  padding-top: 75px;
}

.top-wrapper img{
  height:200px;
  border-radius: 50%;
}

.top-wrapper img:hover{
  opacity: 0.8;

}

.top-wrapper h1{
  padding-top: 30px;
  color:white;
}

.top-wrapper h2{
  color:white;
}


/* intro pars */
.intro-wrapper{
  width:100%;
  text-align: left;
  margin: 0 auto;
}

.intro-wrapper h2{
  border-bottom: 1px solid black;
}

.txt-content{
  padding:0px 20px;
  font-weight: normal;
}

.eng{
  font-weight:100;
  opacity: 0.6;
}

/* product part */
.article-wrapper{
  /* floatで高さが認識されないのを防ぐため */
  overflow: auto;
}

.article-wrapper h2{
  border-bottom: 1px solid black;
}

.product{
  float:left;
  width:25%;
  height: auto;
}

.product p{
  text-align: left;
}

.hometamon img:hover{
  opacity: 0.5;
}

.product img{
  margin-left: 30%;
  height:auto;
  width: 40%;
  border-radius: 20%;
  border:1px rgba(0,0,0,0.3) solid;
}

.explain-google-analytics{
  text-align: center;
  font-size: 7px;
}

.txt-content{
  width:90%;
}
/* footer part */
.footer-wrapper{
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.footer-wrapper p{
  color:white;
  font-size: 15px;
}
